In [2]:
import pandas as pd 
from matplotlib import pyplot as plt 
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [3]:
data=pd.read_csv('winequality.csv',sep=';')

In [4]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [5]:
data.shape

(4898, 12)

In [6]:
data['quality'].unique()

array([6, 5, 7, 8, 4, 3, 9], dtype=int64)

In [8]:
data.corr()['quality']

fixed acidity          -0.113663
volatile acidity       -0.194723
citric acid            -0.009209
residual sugar         -0.097577
chlorides              -0.209934
free sulfur dioxide     0.008158
total sulfur dioxide   -0.174737
density                -0.307123
pH                      0.099427
sulphates               0.053678
alcohol                 0.435575
quality                 1.000000
Name: quality, dtype: float64

In [9]:
cormatrix = data.corr()['quality']

In [16]:
low_cor=cormatrix[abs(cormatrix)<0.10].index
low_cor

Index(['citric acid', 'residual sugar', 'free sulfur dioxide', 'pH',
       'sulphates'],
      dtype='object')

In [15]:
data.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [17]:
y=data['quality']
X=data.drop('quality',axis=1)
X.drop(low_cor,axis=1,inplace=True)

In [20]:
X

,fixed acidity,volatile acidity,chlorides,total sulfur dioxide,density,alcohol
0,7.0,0.27,0.045,170.0,1.00100,8.8
1,6.3,0.30,0.049,132.0,0.99400,9.5
2,8.1,0.28,0.050,97.0,0.99510,10.1
3,7.2,0.23,0.058,186.0,0.99560,9.9
4,7.2,0.23,0.058,186.0,0.99560,9.9
...,...,...,...,...,...,...
4893,6.2,0.21,0.039,92.0,0.99114,11.2
4894,6.6,0.32,0.047,168.0,0.99490,9.6
4895,6.5,0.24,0.041,111.0,0.99254,9.4
4896,5.5,0.29,0.022,110.0,0.98869,12.8
4897,6.0,0.21,0.020,98.0,0.98941,11.8

In [30]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=10)

In [31]:
lr_classifier = LogisticRegression()

In [32]:
lr_classifier.fit(X_train,y_train)

c:\Users\Admin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [33]:
lr_classifier.score(X_train,y_train)

0.47726653961339505

In [34]:
lr_classifier.score(X_test,y_test)

0.47346938775510206

In [ ]:
# Scale down the data and check the accuracy again.